---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/releases?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1506357928'
      Etag:
      - W/"db256300bf05c5302071d6a61029788b"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/releases/7879526","assets_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/releases/7879526/assets","upload_url":"https://uploads.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/releases/7879526/assets{?name,label}","html_url":"https://github.com/RobinDaugherty/release-maker-tester-with-prior-release/releases/tag/v1.2.3","id":7879526,"tag_name":"v1.2.3","target_commitish":"master","name":"v1.2.3","draft":false,"author":{"login":"RobinDaugherty","id":1005280,"avatar_url":"https://avatars3.githubusercontent.com/u/1005280?v=4","gravatar_id":"","url":"https://api.github.com/users/RobinDaugherty","html_url":"https://github.com/RobinDaugherty","followers_url":"https://api.github.com/users/RobinDaugherty/followers","following_url":"https://api.github.com/users/RobinDaugherty/following{/other_user}","gists_url":"https://api.github.com/users/RobinDaugherty/gists{/gist_id}","starred_url":"https://api.github.com/users/RobinDaugherty/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RobinDaugherty/subscriptions","organizations_url":"https://api.github.com/users/RobinDaugherty/orgs","repos_url":"https://api.github.com/users/RobinDaugherty/repos","events_url":"https://api.github.com/users/RobinDaugherty/events{/privacy}","received_events_url":"https://api.github.com/users/RobinDaugherty/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2017-09-24T05:10:12Z","published_at":"2017-09-25T14:55:30Z","assets":[],"tarball_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/tarball/v1.2.3","zipball_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/zipball/v1.2.3","body":"This
        is a full release, so the next release should be the next minor version after
        this one (v1.3.0).\r\n\r\n- Fixed something"}]'
  recorded_at: Mon, 25 Sep 2017 16:30:19 GMT
- request:
    method: get
    uri: https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/releases/latest?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1506357928'
      Etag:
      - W/"6d83f1b47b83d57fa7d11eb8384ccf52"
      Last-Modified:
      - Mon, 25 Sep 2017 15:00:15 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/releases/7879526","assets_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-prior-release/releases/7879526/assets","upload_url":"https://uploads.github.com/[...]
- request:
    method: get
    uri: https://api.github.com/repos/RobinDaugherty/release-maker-tester-with-draft-release/releases?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-[...]
- request:
    method: get
    uri: https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/releases?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1506357928'
      Etag:
      - '"a8b84203bc48fe5ef1a2a3d7e635820b"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 25 Sep 2017 16:30:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/releases/latest?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1506357928'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 25 Sep 2017 16:30:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/RobinDaugherty/not_a_real_repo/releases?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1506357928'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 25 Sep 2017 16:30:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/RobinDaugherty/not_a_real_repo/releases/latest?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1506357928'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 25 Sep 2017 16:30:21 GMT
recorded_with: VCR 3.0.3
