---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1506658376'
      Etag:
      - W/"d31d68f974313972e2255941fc179712"
      Last-Modified:
      - Mon, 25 Sep 2017 20:56:47 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":104763724,"name":"release-maker-tester-no-releases","full_name":"RobinDaugherty/release-maker-tester-no-releases","owner":{"login":"RobinDaugherty","id":1005280,"avatar_url":"https://avatars3.githubusercontent.com/u/1005280?v=4","gravatar_id":"","url":"https://api.github.com/users/RobinDaugherty","html_url":"https://github.com/RobinDaugherty","followers_url":"https://api.github.com/users/RobinDaugherty/followers","following_url":"https://api.github.com/users/RobinDaugherty/following{/other_user}","gists_url":"https://api.github.com/users/RobinDaugherty/gists{/gist_id}","starred_url":"https://api.github.com/users/RobinDaugherty/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RobinDaugherty/subscriptions","organizations_url":"https://api.github.com/users/RobinDaugherty/orgs","repos_url":"https://api.github.com/users/RobinDaugherty/repos","events_url":"https://api.github.com/users/RobinDaugherty/events{/privacy}","received_events_url":"https://api.github.com/users/RobinDaugherty/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/RobinDaugherty/release-maker-tester-no-releases","description":"A
        test repository for release-maker that has no releases, draft or otherwise.","fork":false,"url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases","forks_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/forks","keys_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/keys{/key_id}","collaborators_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/teams","hooks_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/hooks","issue_events_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/issues/events{/number}","events_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/events","assignees_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/assignees{/user}","branches_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/branches{/branch}","tags_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/tags","blobs_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/git/refs{/sha}","trees_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/git/trees{/sha}","statuses_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/statuses/{sha}","languages_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/languages","stargazers_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/stargazers","contributors_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/contributors","subscribers_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/subscribers","subscription_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/subscription","commits_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/commits{/sha}","git_commits_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/git/commits{/sha}","comments_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/comments{/number}","issue_comment_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/issues/comments{/number}","contents_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/contents/{+path}","compare_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/compare/{base}...{head}","merges_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/merges","archive_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/downloads","issues_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/issues{/number}","pulls_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/pulls{/number}","milestones_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/milestones{/number}","notifications_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/labels{/name}","releases_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/releases{/id}","deployments_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/deployments","created_at":"2017-09-25T14:52:31Z","updated_at":"2017-09-25T20:56:47Z","pushed_at":"2017-09-25T21:29:18Z","git_url":"git://github.com/RobinDaugherty/release-maker-tester-no-releases.git","ssh_url":"git@github.com:RobinDaugherty/release-maker-tester-no-releases.git","clone_url":"https://github.com/RobinDaugherty/release-maker-tester-no-releases.git","svn_url":"https://github.com/RobinDaugherty/release-maker-tester-no-releases","homepage":"","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"network_count":0,"subscribers_count":1}'
  recorded_at: Fri, 29 Sep 2017 03:37:25 GMT
recorded_with: VCR 3.0.3
