---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/hooks?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"web","events":["push","pull_request"],"active":true,"config":{"url":"https://release-maker.test/github_webhooks?id=7\u0026type=repo","content_type":"json","secret":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1506525673'
      Etag:
      - '"61005fdbbd1cca9bc4601ea23acdc93e"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      Location:
      - https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/hooks/16432472
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":16432472,"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"https://release-maker.test/github_webhooks?id=7&type=repo","content_type":"json","insecure_ssl":"0"},"updated_at":"2017-09-27T15:17:54Z","created_at":"2017-09-27T15:17:54Z","url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/hooks/16432472","test_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/hooks/16432472/test","ping_url":"https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/hooks/16432472/pings","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 27 Sep 2017 15:17:54 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/RobinDaugherty/release-maker-tester-no-releases/hooks/16432472?access_token=<GITHUB_AUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_AUTH_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1506525673'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Sep 2017 15:17:55 GMT
recorded_with: VCR 3.0.3
