default: &default
  oauth_client_id: <%= ENV['GITHUB_OAUTH_CLIENT_ID'] %>
  oauth_secret: <%= ENV['GITHUB_OAUTH_SECRET'] %>
  webhook_secret: <%= ENV['GITHUB_WEBHOOK_SECRET'] %>

development:
  <<: *default

test:
  <<: *default
  test_repo_owner_name: <%= ENV['GITHUB_TEST_REPO_OWNER'] || 'RobinDaugherty' %>
  test_repo_name: release-maker-tester-no-releases
  test_repo_uid: <%= ENV['GITHUB_TEST_REPO_UID'] || 104763724 %>
  test_auth_token: <%= ENV['GITHUB_AUTH_TOKEN'] || "GITHUB_AUTH_TOKEN" %>

staging:
  <<: *default

production:
  <<: *default
