# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f81065376545f4ba317238dba97cc3dbcae64b79f261b2a511ff74a0e759905eae1750b7ce97936fec7e375ebe3a9e7e77d9d041f21334e7536355da1738c85d

test:
  secret_key_base: aea8a4891b51e5226282ed18f9c5ec6e0524f34cb5e6cd707b797a06f9fc74ee2d644a5d8983f58b53b840572b5c9dd7dcce08b05717068cc4fa0b28c37783ad

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
