default: &default
  host: <%= ENV['WEBHOOK_HOST'] %>
  protocol: <%= ENV['WEBHOOK_PROTOCOL'] || 'https' %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default

staging:
  <<: *default
